.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  max-width: 100%;
  width: var(--max-width);
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.logo {
  position: relative;
}
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.bannerImgDiv {
  width: 100%;
  height: fit-content;
  position: relative;
}
.bannerImgDiv img {
  width: 100%;
  height: 645px;
  z-index: 1;
}
.rightArrow {
  position: absolute;
  background: white;
  top: 50%;
  right: 50px;
  z-index: 20;
  transform: translateY(-50%);
  border-radius: 50%;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  color: #936f01;
  font-weight: bold;
}
.leftArrow {
  position: absolute;
  background: white;
  top: 50%;
  left: 50px;
  z-index: 20;
  transform: translateY(-50%);
  border-radius: 50%;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  color: #936f01;
  font-weight: bold;
}
.Downloadbtn {
  position: absolute;
  background: white;
  bottom: 20px;
  right: 50px;
  z-index: 20;
  transform: translateY(-50%);
  border-radius: 50%;
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #936f01;
  font-weight: bold;
  transform: rotate(90deg);
}
.cards1Div {
  width: 100%;
  display: grid;
  margin-top: 35px;
  padding: 25px 50px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 30px;
  height: fit-content;
}
.card1 {
  width: 100%;
  /* max-width: 310px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #936f01;
  border-radius: 6px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.267);
  height: 100%;
}
.card1UpperPart {
  padding: 20px;
  background-color: #936f01;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  min-height: 135px;
}
.imgContainer {
  background-color: #ffffffce;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imgContainer img {
  width: 38px;
}
.card1LowerPart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  gap: 20px;
  padding: 20px 40px;
  font-size: 13px;
}
.card1ReadLess {
  color: #936f01;
  text-decoration: underline;
  cursor: pointer;
}
.aboutUsdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* margin-top: 50px; */
  padding: 50px;
  gap: 28px;
}
.AboutUsSpan {
  font-size: 33px;
  font-weight: 600;
}
.aboutUsMain {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.aboutUsleftdiv {
  width: 100%;
  height: 395px;
  position: relative;
}
.abusBackground {
  width: 60%;
  height: 100%;
  background-color: #936e0179;
  border-radius: 5px;
}
.youtiframe {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 95%;
  right: 0;
  border-radius: 6px;
}
.aboutUsrightdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.aboutUsrightdivMain {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
}
.abusname {
  font-size: 24px;
  font-weight: 500;
  color: #936f01;
}
.abusDesc {
  font-size: 15px;
  margin-left: 10px;
}
.abusreadmore {
  padding: 15px 60px;
  border: 1px solid #936f01;
  color: #936e01d7;
  background: none;
  border-radius: 8px;
  cursor: pointer;
}
.WhyChooseUsdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  gap: 20px;
}
.WhyChooseUsSpan {
  font-size: 33px;
  font-weight: 600;
}
.WhyChooseUsMainDiv {
  display: flex;
  gap: 25px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #936e01e7;
  padding: 20px;
  width: 100%;
  justify-content: center;
}
.WhyChooseUsMainDiv article {
  background-color: white;
  padding: 30px;
  width: 320px;
  height: 320px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
.mcuimgContainer {
  display: flex;
  padding: 10px;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 2px solid #936f01;
}
.mcuimgHead {
  font-size: 14px;
  color: #936f01;
  margin-bottom: 5px;
  font-weight: 500;
}
.mcuimgBody {
  font-size: 11px;
  text-align: center;
  /* width: 80%; */
}
.OurHealingCenterDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 40px;
  padding: 60px 0px;
  position: relative;
}
.imgAbsolute5 {
  position: absolute;
  transform: rotate(82deg);
  left: -120px;
  bottom: -00px;
  opacity: 0.3;
  z-index: -1;

  width: 595px;
}
.imgAbsolute6 {
  position: absolute;
  transform: rotate(270deg);
  right: -120px;
  opacity: 0.3;
  z-index: -1;
  width: 595px;
}
.OurHealingCenterSpan {
  font-size: 33px;
  font-weight: 600;
}
.OurHealingCenterMainDiv {
  display: flex;
  gap: 55px;
}
.OHCcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  background-color: #936e0171;
  width: 323px;
  height: 401px;
  padding-top: 30px;
  box-shadow: 0px 0px 12px 0px #00000036;
  border-radius: 8px;
  transition: transform 0.3s;
  cursor: pointer;
}
.OHCcard:hover {
  transform: scale(1.1);
}
.OHCcard img {
  width: 80%;
}
.OHCcard span {
  font-size: 20px;
  color: white;
  text-decoration: underline;
  font-weight: 500;
}
.OurProgramdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 90px;
}
.OurProgrammaindiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;

  width: 85%;
  column-gap: 70px;
  row-gap: 100px;
}
.OPsqaures {
  height: 150px;
  width: 150px;
  font-size: 11px;
  background-color: #936f01;
  transform: rotate(45deg);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.OPsqaures article {
  transform: rotate(-45deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  color: rgba(255, 255, 255, 0.87);
  font-weight: 500;
}
.borderbox {
  width: 100%;
  height: 100%;
  border: 1.5px solid #936f01;
  position: absolute;
  right: 8%;
  left: 8%;
  bottom: 8%;
}
.HealingStory {
  display: flex;
  margin-top: 150px;
  width: 100%;
  flex-direction: column;
  position: relative;
}
.HealingStory img {
  width: 100% !important;
  height: 559px;
}
.HSmainDiv {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 50px;
}
.HSmaindivDesdiv {
  width: 63%;
  top: 50%;
  margin-top: 40px;
  margin-left: 18px;
  background-color: white;
  height: 240px;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0px 4px 4px 0px #00000036;
}
.ReviewTestimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
  padding: 60px 0px;
  border: 1px solid #936f01;
  background-color: #f2eee170;
  margin-bottom: 50px;
}
.ReviewTestimonialsMainDiv {
  position: relative;
  margin-top: 80px;
  margin-bottom: 50px;
}
.ReviewTestimonialsdescDiv {
  background-color: #936f01;
  width: 705px;
  height: 283px;
  background: linear-gradient(to bottom, #936e01d5, #936e012c);
  opacity: 0.89;
  display: flex;
  border-radius: 11px;
}
.ReviewTestimonialsdescDiv div {
  width: 40%;
}
.backGrounddiv1 {
  background-color: rgba(147, 110, 1, 0.192);
  width: 279px;
  height: 131px;
  border-radius: 29px;
  box-shadow: -2.4px 3.6px 9.59px 3.39px rgba(155, 116, 1, 0.35);
  position: absolute;
  bottom: -35px;
  left: -80px;
}
.backGrounddiv2 {
  background-color: rgba(147, 110, 1, 0.192);
  width: 142px;
  height: 155px;
  position: absolute;
  top: -60px;
  right: -40px;
  border-radius: 25px;
  box-shadow: 7px -4.24px 11.31px 0px rgba(155, 116, 1, 0.35);
}
.ReviewTestimonialsdesc {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: space-between;
  width: 60% !important;
}
.rating {
  display: flex;
  align-items: center;
  gap: '20px';
  color: white;
  width: 100%;
  font-size: 14px;
}
.rating img {
  width: 90px;
}
.ReviewTestimonialsdesc article span {
  font-size: 16px;
  font-weight: 600;
}
.ReviewTestimonialsdesc article p {
  font-size: 11px;
  color: #1e1e1e;
}
.BookApp {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0px;
  gap: 20px;
}
.OurHealingCentermainDiv {
  background-color: #936f01;
  width: 90%;
  border-radius: 10px;
  height: 682px;
  display: flex;
  position: relative;
  overflow: hidden;
}
.leftDivOH {
  width: 50%;
  padding: 80px 60px;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  flex-direction: column;
}

.OHcontactDiv {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.OHcontactDiv article {
  display: flex;
  font-size: 22px;
  color: white;
  align-items: start;
  gap: 20px;
}
.RightDivOH {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  padding: 38px;
}
.form {
  background-color: white;
  height: 100%;
  max-width: 90%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 20;
}
.form input {
  border: 1px solid #936f01;
  padding: 8px 30px;
  border-radius: 5px;
}
.form select {
  border: 1px solid #936f01;
  padding: 8px 30px;
  border-radius: 5px;
}
.form textarea {
  border: 1px solid #936f01;
  padding: 8px 30px;
  border-radius: 5px;
}
.gridForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
.radieoBtndiv {
  width: 100%;
  border: 1px solid #936f01;
  border-radius: 8px;
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.radieoBtndiv article {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  color: #8d8d8d;
}
.form button {
  margin-top: 10px;
  padding: 10px;
  background-color: #936f01;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.imgAbsolute1 {
  position: absolute;
  transform: rotate(82deg);
  left: -220px;
  top: -250px;
  opacity: 0.5;
}
.imgAbsolute2 {
  position: absolute;
  transform: rotate(82deg);
  left: -220px;
  bottom: -300px;
  opacity: 0.5;
}
.imgAbsolute3 {
  position: absolute;
  transform: rotate(270deg);
  right: -220px;
  top: -250px;
  opacity: 0.5;
}
.imgAbsolute4 {
  position: absolute;
  transform: rotate(270deg);
  right: -220px;
  bottom: -300px;
  opacity: 0.5;
}
